/* ----------------------------------------admin page------------------------------------------------------------- */
/* Home page */

.Main {
  display: grid;
  justify-content: center;
  place-items: center;
  width: 100%;

  grid-auto-rows: 250px;
  grid-template-columns: repeat(4, 350px);
  grid-gap: 20px;
  margin-top: 10px;

  /*mobile*/
  @media only screen and (max-width: 767px) {
    grid-template-columns: repeat(2, 50%);
    grid-gap: 10px;
  }

  /* tablets */
  @media only screen and (min-width: 767px) and (max-width: 1200px) {
    grid-template-columns: repeat(3, 30%);
    grid-gap: 10px;
  }
}
