/* * {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

/* heading styliyng */
/* Typography */
.app-name {
  font-family: "Roboto Mono", monospace;
  /* color: #008080; */
  color: rgb(19, 88, 218);
  text-align: center;
  font-size: 70px;
}
/* .horizontal{
color: blue; */
hr {
  border: none; /* Remove the default border */
  border-top: 2px solid black; /* Set the thickness and color of the horizontal rule */
}
/*
/* Body styling */
.home-body {
  font-family: "Roboto Mono", monospace;
  padding: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*


/* Card Styling in div 1 */
.card1 {
  margin: top 100px !important;
  background-color: whitesmoke;
  /* box-shadow: 4px 4px 4px 4px #e0b415; */
  transition: 0.3s;
  height: 200px;
  font-size: 20px;
  width: 100px;
  border: #e0b415;
  outline-style: initial;
  border-radius: 25px;
}

.card1:hover {
  box-shadow: 0 8px 16px 0 #806000;
}

/* Card 1 padding */
.card1-container {
  padding: 40px 50px;
  width: 300px;
  height: 100px;
}
.clinicName-column {
  font-size: 30px;
  font-weight: bold;
  color: #000280;
}
/* Flex container for divs */
.div-home-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 400px !important;
}


/* Media Queries for Responsiveness*/
/*@media (max-width: 1023px) {
  .div-home-body {
    flex-direction: column; /* Stack divs vertically */
 /*}
}*/
/*confirmation box buttons */ /*
.confirm-btns {
  font-family: "Poppins";
  font-size: 18px;
  margin-left: 25px;
  border-color: #008080;
  color: white;
  border-radius: 10px;
  background-image: linear-gradient(
    90deg,
    rgb(15, 77, 157),
    rgba(36, 182, 222, 0.957)
  );
  width: 70px;
  height: 30px;
}

.confirm-btns:hover {
  background-color: #000001;
}

.delete-confiramation-box-text {
  font-family: "Poppins";
  font-size: 15px;
  color: black;
  font-weight: bold;
}
.delete-confiramation {
  font-family: "Poppins";
  font-size: 15px;
  color: black;
}
.deleteConfirm {
  font-family: "Poppins";
  font-size: 15px;
  color: black;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 5px;
}  */


